<!-- <nav class="navbar navbar-expand-lg text-center shadow"> -->
<!-- <div class="container-fluid">
    <a class="navbar-brand fw-bold px-3 py-3">Municipalidad de la Ciudad de Formosa</a>
  </div> -->
<div class="d-flex bd-highlight px-3 navbar fw-bold">
  <div class="p-2 flex-grow-1 bd-highlight">Municipalidad de la Ciudad de Formosa</div>

  <div class="p-2 bd-highlight"><img src="img/CiudadDigital2.png" height="60"></div>

  <div class="p-2 bd-highlight"><img src="img/Jofre-Formosa.png" height="70" style="text-shadow: 10px 10px 10px white;">
  </div>
  <!-- <div class="p-2 bd-highlight"><img src="img/tren.png" height="80"></div> -->
</div>
<!-- </nav> -->
<div class="container">
</div>