<div *ngIf="estadoCargaEventos" class="row ConteinerPreloader m-0">
  <div class="col-12 ConteinerSpinner text-center">
    <img class="imgSpinner" src="./img/logoMunicipalidadFsa.png" width="100px" height="100px" />
    <div class="spinner mb-3"></div>
    <!-- <h4 class="fw-bold text-white textoSpinner w-100 text-center" style="font-weight: bold !important">
      Preparando sistemas..
    </h4> -->
  </div>
</div>

<!-- <a class="rounded-pill bg-danger text-white mt-3 p-2 fs-alto fw-bold px-3 border-0 me-3" routerLink="/hub"
  style="text-decoration: none;">volver <i class="fas fa-arrow-left"></i></a>
<label class="rounded-pill bg-success text-white mt-3 p-2 fs-alto fw-bold px-3">Automotores</label> -->

<form class="row mt-0 px-1" [formGroup]="inputCuit">
  <div class="row d-flex justify-content-center contentInputCuit">
    <label class="text-center w-100 fs-med fw-bold mb-3">Ingrese su cuit o dni, sin puntos o guiones y luego presiones
      el
      botón buscar</label>
    <div class="col-5">

      <input type="text" formControlName="cuit"
        class="form-control rounded-pill border border-dark p-4 inputBuscador shadow" autocomplete="off">

      <div *ngIf="
                              inputCuit.get('cuit')?.invalid &&
                              inputCuit.get('cuit')?.touched
                            ">
        <div class="ms-2 msjError" *ngIf="inputCuit.get('cuit')?.errors?.['maxLength']">
          El DNI o CUIT no puede tener más de 11 dígitos.
        </div>
        <div class="ms-2 msjError" *ngIf="inputCuit.get('cuit')?.errors?.['minLength']">
          El DNI o CUIT no puede tener menos de 11 dígitos.
        </div>
        <div class="ms-2 msjError" *ngIf="inputCuit.get('cuit')?.errors?.['required']">
          El DNI o CUIT es obligatorio.
        </div>
        <div class="ms-2 msjError" *ngIf="inputCuit.get('cuit')?.errors?.['pattern']">
          El DNI o CUIT solo puede contener dígitos númericos.
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-success p-4 rounded-pill shadow fw-bold" (click)="BuscarContribuyente()"><i
          class="fas fa-search me-3"></i>Buscar</button>
    </div>
  </div>
</form>
